<ion-header>
	<ion-navbar>
		<ion-title>
			{{ _trip.trip.name }}
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<!-- a single card -->
	<ion-card>

		<div style="position:relative">
			<img src="{{ _trip.trip.coverPhotoUrl }}"/>
			<ion-fab right top>
				<button ion-fab class="fab-pin" (click)="goToMap()">
					<ion-icon name="pin"></ion-icon>
				</button>
			</ion-fab>
		</div>

		<ion-card-content>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Nunc a rhoncus nisi. Nullam consequat eros sem,
				non venenatis lorem fermentum at.
			</p>
		</ion-card-content>

		<ion-item>
			<ion-icon name="navigate" item-left small></ion-icon>
			<p>Location</p>
			<h2>{{ _trip.trip.location }}</h2>
		</ion-item>

		<ion-item>
			<ion-icon name="calendar" item-left small></ion-icon>
			<p>Start Date</p>
			<h2>{{ _trip.trip.startTime }}</h2>
		</ion-item>

		<ion-item>
			<ion-icon name="clock" item-left small></ion-icon>
			<p>Start Time</p>
			<h2>12:00</h2>
		</ion-item>

		<ion-item>
			<ion-icon name="calendar" item-left small></ion-icon>
			<p>End Date</p>
			<h2>{{ _trip.trip.endTime }}</h2>
		</ion-item>

		<ion-item>
			<ion-avatar item-left>
				<img src="{{ _trip.lead.photoUrl }}">
			</ion-avatar>
			<h2>{{ _trip.lead.firstName }} {{ _trip.lead.lastName }}</h2>
			<p>Trip Lead</p>
		</ion-item>

		<ion-list padding-bottom *ngFor="let member of _tripMembers">
			<ion-item>
				<ion-avatar item-left>
					<img src="{{ member.photoUrl }}">
				</ion-avatar>
				<h2>{{ member.firstName }} {{ member.lastName }}</h2>
			</ion-item>
		</ion-list>

		<ion-list padding-bottom *ngFor="let item of _trip.trip.items">
			<ion-item>
				<ion-label>{{ item.name }}</ion-label>
				<ion-note item-right>
					{{ item.description }}
				</ion-note>
				<ion-checkbox color="positive" checked="false"></ion-checkbox>
			</ion-item>
		</ion-list>

	</ion-card>
</ion-content>
