<ion-header>
	<ion-toolbar>
		<ion-title>
			Add members
		</ion-title>
		<ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Done</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<!-- <ion-searchbar (ionInput)="updateSearchResults($event)"></ion-searchbar> -->
	<ion-list>
		<ion-item *ngFor="let person of _friendsNotOnTrip">
			<ion-avatar item-left>
				<img src="{{ person.photoUrl }}">
			</ion-avatar>
			<ion-label>{{ person.firstName }} {{ person.lastName }}</ion-label>
			<ion-checkbox color="positive" [(ngModel)]="person.checked"
			              (click)="toggleClicked(person, !person.checked)"
			              item-right></ion-checkbox>
		</ion-item>
	</ion-list>
</ion-content>
