<ion-header>
	<ion-toolbar>
		<ion-title>
			{{ _title }}
		</ion-title>
		<ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content class="outer-content">
	<form [formGroup]="_editForm" (ngSubmit)="onFormSubmit(_editForm.value)">
		<ion-list>
			<ion-item>
				<ion-label>Old {{ _title | lowercase }}</ion-label>
				<ion-input type="text" disabled="true" formControlName="oldValue" [formControl]="_editForm.controls['oldValue']"
				          ngDefaultControl></ion-input>
			</ion-item>

			<ion-item>
				<ion-label>New {{ _title | lowercase }}</ion-label>
				<ion-input type="text" formControlName="newValue" [formControl]="_editForm.controls['newValue']"
				              ngDefaultControl></ion-input>
			</ion-item>

			<ion-item>
				<button ion-button color="primary" block type="submit"
				        [disabled]="!_editForm.valid">Save</button>
			</ion-item>
		</ion-list>
	</form>
</ion-content>
