<ion-header>
    <ion-toolbar>
        <ion-title>
            Add items
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Close</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-searchbar (ionInput)="updateSearchResults($event)"></ion-searchbar> -->
    <form [formGroup]="_itemsForTripForm" (ngSubmit)="addItemFormSubmit(_itemsForTripForm.value)">
        <ion-list>
            <ion-item>
                <ion-label>Name:</ion-label>
                <ion-input type="text" formControlName="name" [formControl]="_itemsForTripForm.controls['name']" ngDefaultControl></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Description:</ion-label>
                <ion-input type="text" formControlName="description" [formControl]="_itemsForTripForm.controls['description']" ngDefaultControl></ion-input>
            </ion-item>

            <ion-item>
                <button ion-button block [disabled]="!_itemsForTripForm.valid" type="submit">Add</button>
            </ion-item>
        </ion-list>
    </form>

    <ion-list>
        <ion-item-divider color="light">
            Current items:
        </ion-item-divider>
        <ion-item *ngFor="let item of _itemsForTrip">
            <ion-label>{{ item.name }}</ion-label>
            <ion-note item-right>{{ item.description }}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>