<ion-header>
	<ion-toolbar>
		<ion-title>
			Change Password
		</ion-title>
		<ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="_changePasswordForm" (ngSubmit)="onFormSubmit(_changePasswordForm.value)">
		<ion-list>
			<ion-item>
				<ion-label floating>New Password</ion-label>
				<ion-input type="password" formControlName="newPassword"
				           [formControl]="_changePasswordForm.controls['newPassword']" ngDefaultControl></ion-input>
			</ion-item>

			<ion-item>
				<ion-label floating>Confirm Password</ion-label>
				<ion-input type="password" formControlName="confirmPassword"
				           [formControl]="_changePasswordForm.controls['confirmPassword']" ngDefaultControl></ion-input>
			</ion-item>

			<ion-item>
				<button ion-button block type="submit" [disabled]="!_changePasswordForm.valid">Save</button>
			</ion-item>

			<ion-item *ngIf="_error">
				{{ _error }}
			</ion-item>
		</ion-list>
	</form>
</ion-content>
