<ion-header>
	<ion-toolbar>
		<ion-title>
			Forgotten Password
		</ion-title>
		<ion-buttons end>
			<button ion-button (click)="dismiss()">
				<span ion-text color="primary" showWhen="ios">Done</span>
				<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form [formGroup]="_forgotPasswordForm" (ngSubmit)="onFormSubmit(_forgotPasswordForm.value)">
		<ion-list>
			<ion-item>
				<ion-label floating>Email</ion-label>
				<ion-input type="email" formControlName="email" [formControl]="_forgotPasswordForm.controls['email']"
				           ngDefaultControl></ion-input>
			</ion-item>

			<div padding>
				<button type="submit" ion-button block [disabled]="!_forgotPasswordForm.valid">Send Password Reset</button>
			</div>
		</ion-list>
	</form>
</ion-content>
