<ion-header>
  <ion-navbar>
    <ion-title>Account</ion-title>
    <ion-buttons end>
      <button ion-button icon-right icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Your Account...
    </ion-list-header>
  </ion-list>

  <ion-card>
    <ion-list>

      <ion-item>
        <ion-avatar item-left (click)="presentActionSheet()">
          <img src="{{ _currentUser.photoUrl }}">
          <ion-icon name="camera" class="edit-image"></ion-icon>
        </ion-avatar>
        <h2>{{ _currentUser.firstName }} {{ _currentUser.lastName }}</h2>
        <p>Some description</p>
      </ion-item>

      <ion-item>
        Username
        <ion-note item-right>
			{{ _currentUser.username }}
        </ion-note>
      </ion-item>

      <ion-item>
        Email
        <ion-note item-right>
			{{ _currentUser.email }}
        </ion-note>
      </ion-item>

      <ion-item-sliding>
        <ion-item>
          Password
          <ion-note item-right>
            **********
          </ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button icon-only color="positive">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ion-card>

  <ion-list>
    <ion-list-header no-lines>
      Manage your location settings:
    </ion-list-header>

    <ion-item>
      <ion-label>Share Your Location</ion-label>
      <ion-toggle [(ngModel)]="_currentUser.shareLocation" (click)="changeSharingLocation()"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="_currentUser.shareLocation">
    <ion-item-divider color="light">Location sharing for each event:</ion-item-divider>
	  <ion-list *ngFor="let trip of _currentUserTrips">
		  <ion-item>
			  <h2>{{ trip.name }}</h2>
			  <p>{{ trip.startDate }}</p>
			  <p *ngIf="trip.leadOrganiser === _currentUser.uid">Lead</p>
			  <button ion-button clear item-right (click)="presentModal(trip.$key, trip.name, trip.friends, trip.leadOrganiser)">View</button>
		  </ion-item>
	  </ion-list>
  </ion-list>

</ion-content>
